java/.gradle
java/build/

# Ignore Gradle GUI config
java/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!java/gradle-wrapper.jar

# Cache of project
java/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
